<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ _("Session expired") }}</title>
    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/main.css', v=app_version) }}">
    <meta name="viewport"
          content="initial-scale=1, width=device-width, viewport-fit=cover, user-scalable=no">
  </head>
  <body>
    <section class="bg-white dark:bg-gray-900">
      <div class="py-8 px-4 mx-auto max-w-(--breakpoint-xl) lg:py-16 lg:px-6">
        <div class="mx-auto max-w-(--breakpoint-sm) text-center">
          <h1 class="mb-4 text-5xl tracking-tight font-extrabold lg:text-7xl text-primary dark:text-primary">
            {{ _("Session expired") }}
          </h1>
          <p class="mb-4 text-3xl tracking-tight font-bold text-gray-900 md:text-4xl dark:text-white">
            {{ _("Your form was left open too long.") }}
          </p>
          <p class="mb-4 text-lg font-light text-gray-500 dark:text-gray-400">
            {{ _("Nothing was submitted. Go back, reload the page and try again.") }}
          </p>
        </div>
      </div>
    </section>
  </body>
</html>
